*{
    margin: 0%;

    padding: 0%;

    box-sizing: border-box;
    
    
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Roboto ;
}
 #main{
    height: 100%;
    width: 100%;
    background-color:white;

 }
 #nav{
    height: 80px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0px 30px;

 }
 #nav h4{
    font-size: 20px;
    font-weight: 600;
 }
 #nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 50%;
 }
 #center{
    height: 40%;
    padding: 40px 50px;
    
 }
 #center h1{
   font-size: 80px;
   font-weight: 500;
   line-height: 90px;
 }
 #center-in{
   height: 200px;
   width: 100%;
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   
 }
 #center-in p{
   font-size: 20px;
   font-weight: 600;
   line-height: 32px;
   
 }
 #right{
   width: 20%;
 }

 .elem{
   padding: 20px 0;
   border-top: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;

 }
 .elem i{
   font-weight: 500;
   font-size: 25px;
 }

 .elem a{
   color: #000;
   text-decoration: none;
   font-weight: 600;
   font-size: 20px;
 }

 #bottom{
   height: 70%;
   width: 100%;
   
   background-image: url(https://images.unsplash.com/photo-1655583165772-861d6e58379e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmVhdXRpZnVsJTIwd29tYW4lMjB3aGl0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
   background-size: cover;
   background-position: center;
 }
   
 